<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guide</key>
	<array>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>单车及移动电源说明</string>
			<key>type</key>
			<real>0</real>
		</dict>
		<dict>
			<key>className</key>
			<string>PowerRepairVC</string>
			<key>cellTitle</key>
			<string>电源维修</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ZHHFailedUnlockVC</string>
			<key>cellTitle</key>
			<string>开不了锁</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ZHHBikeBreakDownVC</string>
			<key>cellTitle</key>
			<string>发现车辆故障</string>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>押金说明</string>
			<key>type</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>充值说明</string>
			<key>type</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ZHHReportDisobeyVC</string>
			<key>cellTitle</key>
			<string>举报违停</string>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>找不到车</string>
			<key>type</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>setting</key>
	<array>
		<dict>
			<key>className</key>
			<string>clear</string>
			<key>cellTitle</key>
			<string>清理缓存</string>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>联系我们</string>
			<key>type</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>关于AirBike</string>
			<key>type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>用户协议</string>
			<key>type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>押金说明</string>
			<key>type</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>WKWebViewController</string>
			<key>cellTitle</key>
			<string>充值协议</string>
			<key>type</key>
			<integer>23</integer>
		</dict>
	</array>
</dict>
</plist>
